{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "rules": {
    "strict": [
      "error",
      "never"
    ],
    "no-unused-vars": "error",
    "no-unsafe-negation": "error",
    "no-unexpected-multiline": "error",
    "no-undef": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
