{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "no-unused-vars": "error",
    "no-unsafe-negation": "error",
    "no-unexpected-multiline": "error",
    "no-undef": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
